/* -------------------------------------- */
/* View Transition API */
/* -------------------------------------- */

:root {
  --duration: 0.5s;
}

::view-transition-old(root),
::view-transition-new(root) {
}

::view-transition-group(card) {
  animation-duration: var(--duration);
  animation-timing-function: cubic-bezier(0.3, 1.5, 0.55, 0.92);
}
::view-transition-group(card-img) {
  animation-duration: var(--duration);
  animation-timing-function: cubic-bezier(0.3, 1.5, 0.55, 0.92);
}
::view-transition-group(card-title) {
  animation-duration: var(--duration);
  animation-timing-function: cubic-bezier(0.3, 1.5, 0.55, 0.92);
}

::view-transition-old(card),
::view-transition-new(card) {
  /* 阻止默认动画，
  * 所以两个视图在整个转换过程中都保持不透明：1 */
  animation: none;
  /* 使用正常混合，
  * 所以新视图位于顶部并遮挡旧视图 */
  mix-blend-mode: normal;
  /* 使高度与组相同，
  * 这意味着视图大小可能与其纵横比不匹配。 */
  height: 100%;
  /* 裁剪视图的任何溢出 */
  overflow: clip;

  border-radius: 16px;
}

/* 旧视图是缩略图 */
::view-transition-old(card) {
  object-fit: contain;
}

/* 新视图是完整图像 */
::view-transition-new(card) {
  object-fit: cover;
}

::view-transition-old(card-img),
::view-transition-new(card-img) {
  animation: none;
  mix-blend-mode: normal;
  height: 100%;
  overflow: clip;

  border-radius: 16px 16px 0 0;
}
::view-transition-image-pair(card-img) {
  isolation: none;
}

::view-transition-old(card-img) {
  object-fit: contain;
}

::view-transition-new(card-img) {
  object-fit: cover;
}
